footer.footer
	.containerWide
		.footer-block
			.footer-block-info
				.footer-block-info-logo
					img.footer-block-info-logo__img(src="assets/images/logo.png", alt="Логотип")
				.footer-block-info-wrap-width
					.footer-block-info__text Лен. обл., Ломоносовский район, Аннинское городское поселение, коттеджный поселок «Изумрудный город» 
					.footer-block-info__pairText
						.footer-block-info__pairText__pair ОГРН: 2659845165126334
						.footer-block-info__pairText__pair БИК: 161843211459
				.footer-block-info-wrap
					.footer-block-info__text2 © Славные просторы 2018<br><a href="#">Политика конфиденциальности</a>
					.footer-block-info__pairText2 Сделано в
						a(href="#")
							img.footer-block-info__img(src="assets/images/footer-made.png", alt="RA")
			.footer-block-menus
				.footer-block-menus-list
					a.footer-block-menus-list__title.in(href="#") Иннола Парк
					.footer-block-menus-list-wrap
						a.footer-block-menus-list__item(href="#") Запись на экскурсию
						a.footer-block-menus-list__item(href="#") Местонахождение
						a.footer-block-menus-list__item(href="#") Инфраструктура
						a.footer-block-menus-list__item(href="#") Экология
						a.footer-block-menus-list__item(href="#") Коммуникации
						a.footer-block-menus-list__item(href="#") Что построено
						a.footer-block-menus-list__item(href="#") Услуги
						a.footer-block-menus-list__item(href="#") Документация
						a.footer-block-menus-list__item(href="#") Выбор участка
						a.footer-block-menus-list__item(href="#") Акции
				.footer-block-menus-list
					a.footer-block-menus-list__title.in(href="#") Изумрудный город
					.footer-block-menus-list-wrap
						a.footer-block-menus-list__item(href="#") Запись на экскурсию
						a.footer-block-menus-list__item(href="#") Местонахождение
						a.footer-block-menus-list__item(href="#") Инфраструктура
						a.footer-block-menus-list__item(href="#") Экология
						a.footer-block-menus-list__item(href="#") Коммуникации
						a.footer-block-menus-list__item(href="#") Что построено
						a.footer-block-menus-list__item(href="#") Услуги
						a.footer-block-menus-list__item(href="#") Документация
						a.footer-block-menus-list__item(href="#") Выбор участка
						a.footer-block-menus-list__item(href="#") Акции
				.footer-block-menus-list
					a.footer-block-menus-list__title.in(href="#") Новости и Акции
					.footer-block-menus-list-wrap
						a.footer-block-menus-list__item(href="#") Текст из название новости
						a.footer-block-menus-list__item(href="#") Текст из название новости
						a.footer-block-menus-list__item(href="#") Текст из название новости
						a.footer-block-menus-list__item(href="#") Текст из название новости
						a.footer-block-menus-list__item(href="#") Текст из название новости
						a.footer-block-menus-list__item(href="#") Текст из название новости
						a.footer-block-menus-list__item(href="#") Текст из название новости
						a.footer-block-menus-list__item(href="#") Текст из название новости
						a.footer-block-menus-list__item(href="#") Текст из название новости
						a.footer-block-menus-list__item(href="#") Текст из название новости
			.footer-block-contacts
				.footer-block-contacts-tel
					.footer-block-contacts-tel-top
						img.footer-block-contacts-tel-top__img(src="assets/images/tel.png", alt="Телефон")
						a.footer-block-contacts-tel-top__phone(href="tel:88125096607") 8 812 509 66 07
					span.footer-block-contacts-tel__bot По всем интересующим вопросам
				.footer-block-contacts-but
					a.footer-block-contacts-but__link(href="#") Закажите звонок
				.footer-block-contacts-mail
					.footer-block-contacts-mail-top
						img.footer-block-contacts-mail-top__img(src="assets/images/mail.png", alt="Почта")
						a.footer-block-contacts-mail-top__mail(href="mailto:info@slavno.pro") info@slavno.pro 
					span.footer-block-contacts-mail__bot отвечаем в течении 30 минут
				.footer-block-contacts-social
					.footer-block-contacts-social-top
						a(href="#")
							img.footer-block-contacts-social__vk(src="assets/images/social-vk.png", alt="vk")
						a(href="#")
							img.footer-block-contacts-social__inst(src="assets/images/social-inst.png", alt="inst")
					span.footer-block-contacts-social__bot Подписка на нас в соц. сетях позволит получать актуальную информацию в первых рядах!