.header-menuActive-wrap
	img.header-menuClose__img(src="assets/images/close.png", alt="Закрыть")
	nav.header-menuActive
		a.header-menu__item(href="index.html") Главная
		a.header-menu__item(href="#") Иннола Парк
		a.header-menu__item(href="#") Изумрудный Город
		a.header-menu__item(href="news.html") Новости и Акции
		a.header-menu__item(href="contacts.html") Контакты
.header
	.containerWide
		.header-block
			.header-logo
				img.header-logo__img(src="assets/images/logo.png", alt="Логотип")
			nav.header-menu.active
				a.header-menu__item(href="index.html") Главная
				a.header-menu__item(href="#") Иннола Парк
				a.header-menu__item(href="#") Изумрудный Город
				a.header-menu__item(href="news.html") Новости и Акции
				a.header-menu__item(href="contacts.html") Контакты
			.header-menuMob
				.header-menuMob-top
					img.header-menuMob-top__img(src="assets/images/menu.png", alt="Меню")
					.header-menuMob-top__text Меню
				span.header-menuMob__bot Основные разделы сайта
			.header-fav
				.header-fav-top
					img.header-fav-top__img(src="assets/images/fav.png", alt="Избранное")
					span.header-fav-top__text Избранное
					span.header-fav-top__count 32
				span.header-fav__bot Ваши отобранные участки
			.header-tel
				.header-tel-top
					img.header-tel-top__img(src="assets/images/tel.png", alt="Телефон")
					a.header-tel-top__phone(href="tel:88125096607") 8 812 509 66 07
				span.header-tel__bot По всем интересующим вопросам
			.header-but
				a.header-but__link(href="#") Закажите звонок
	.container
		if title!='Главная'
			include breadcrumbs.pug