@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/GothamProRegular.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Gotham Bold";
  src: url(../fonts/GothamProBold.ttf);
  font-weight: 700;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  overflow: hidden; }

.first-bg {
  background: url(../img/poselok-first-background.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }

.banner-block-left-but_wide {
  width: 373px;
  height: 52px;
  margin-top: 0px; }

.banner-block-left-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px; }

.banner-block-left-footer__text {
  max-width: 176px;
  margin-left: 30px;
  height: 28px;
  color: #7b7b7b;
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px; }

.list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 63px 0px; }

.list-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33%;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  margin-bottom: 70px; }

.list-item__img {
  margin-bottom: 37px;
  height: 73px; }
  .list-item__img img {
    height: 100%; }

.list-item__img_height img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2); }

.list-item__img_down img {
  -webkit-transform: scale(1.2) translateY(10%);
      -ms-transform: scale(1.2) translateY(10%);
          transform: scale(1.2) translateY(10%); }

.list-item__text {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 19px;
  line-height: 30px; }

.bold {
  font-weight: 700; }

.link-underline {
  color: #76974e;
  font-family: "Noto Serif - Italic";
  border-bottom: 1px solid #76974e; }

.block__head {
  font-size: 37px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  margin-bottom: 35px; }
  @media screen and (max-width: 1370px) {
    .block__head {
      font-size: 33px; } }

.brown-cursive {
  font-style: italic;
  color: #824c3d; }

.block__subhead {
  color: #6d6d6d;
  font-family: "Noto Sans";
  font-size: 19px;
  font-weight: 400;
  max-width: 930px;
  line-height: 27px; }

.video-player {
  margin: 60px auto;
  width: 1274px;
  position: relative; }
  @media screen and (max-width: 1370px) {
    .video-player {
      width: 1094px; }
      .video-player img {
        width: 100%; } }

.video-player__button {
  width: 84px;
  height: 84px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/video-btn.png) no-repeat center center;
  background-color: #FFF;
  cursor: pointer; }

.video-player__button_circle-1, .video-player__button_circle-2, .video-player__button_circle-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border: 1px solid #FFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: -1;
  opacity: 1;
  -webkit-animation: animate-circle 3s infinite;
          animation: animate-circle 3s infinite; }

.video-player__button_circle-2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.video-player__button_circle-2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

@-webkit-keyframes animate-circle {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.7);
            transform: translate(-50%, -50%) scale(1.7);
    opacity: 0; } }

@keyframes animate-circle {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.7);
            transform: translate(-50%, -50%) scale(1.7);
    opacity: 0; } }

.map {
  position: relative; }

.map-block__head {
  line-height: 52.71px; }

.map-block__list {
  width: 500px; }

.list-item__head {
  color: #191919;
  font-family: "Noto Serif";
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
  line-height: 14.4px;
  margin-bottom: 14px; }

.list-item__main {
  opacity: 0.6;
  color: #000000;
  font-family: "Noto Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px; }

.map-block__list-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 22px;
  border-left: 2px solid #824c3d; }

.map-block__map {
  position: absolute;
  z-index: -1;
  top: -40%;
  left: -20%; }

.map-block__background {
  position: absolute;
  z-index: -1;
  bottom: -110%;
  left: 0;
  opacity: 0.89; }

.second-bg {
  background: none; }

.benefits-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.benefits-img {
  margin: 0 200px 0 0; }

.benefits-text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 580px;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px; }

.benefits-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.benefits-item_even .benefits-img {
  margin: 0 0 0 200px; }

.benefits {
  background: url(../img/benefits-background.png) no-repeat center bottom;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 60px 0 0px; }

.benefits-text__title {
  color: #000000;
  font-family: "Noto Serif";
  font-size: 19px;
  font-style: italic;
  line-height: 27px; }

.benefits-text__main {
  color: #000000;
  font-family: "Noto Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 24px;
  padding-top: 21px;
  padding-bottom: 40px; }

.padding-left {
  padding-left: 20px; }

.benefits-footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 70px;
  margin-bottom: 100px; }

.benefits-footer-block-item__text {
  color: #2b2a2a;
  font-family: "Noto Serif";
  font-size: 22px;
  font-style: italic;
  line-height: 30px;
  display: inline-block;
  max-width: 701px; }

.benefits-footer-block-item__name {
  color: #474747;
  font-family: "Noto Serif";
  font-size: 21px;
  font-weight: 700;
  font-style: italic;
  line-height: 30px; }

.benefits-footer-block-item__description {
  color: #6d6d6d;
  font-family: "Noto Serif";
  font-size: 17px;
  font-style: italic;
  line-height: 24px;
  position: relative; }
  .benefits-footer-block-item__description:after {
    display: block;
    content: '';
    position: absolute;
    top: -webkit-calc(100% + 20px);
    top: calc(100% + 20px);
    left: 50%;
    width: 61px;
    height: 50px;
    background: url(../img/benefits-background-line.png) center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }

.benefits-footer-block-item_background {
  background: url(../img/benefits-footer-background-ikea.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 921px;
  height: 161px;
  padding: 54px 61px; }

.benefits-footer-block-item_red-width {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 133px;
      -ms-flex: 0 1 133px;
          flex: 0 1 133px; }

.blue {
  color: #0262a7; }

.benefits-footer-description__main {
  color: #6d6d6d;
  font-family: "Noto Sans";
  font-size: 19px;
  font-weight: 400;
  max-width: 890px;
  line-height: 27px; }

.big-section {
  background: url(../img/background-sky-big-third-section.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  margin-top: -500px;
  padding-top: 400px; }

.block__main_mb {
  margin-bottom: 42px;
  max-width: 830px; }

.block_mt {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px); }

.block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .block-wrapper_margin {
    margin-top: 71px;
    margin-bottom: 223px; }
  .block-wrapper_center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .block-wrapper_center2 {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 200px; }
  @media screen and (max-width: 1370px) {
    .block-wrapper_width .block-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 208px;
          -ms-flex: 0 1 208px;
              flex: 0 1 208px; } }

.block-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 400px;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px; }
  @media screen and (max-width: 1370px) {
    .block-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 315px;
          -ms-flex: 0 1 315px;
              flex: 0 1 315px; } }
  .block-item-text__title {
    color: #000000;
    font-family: "Noto Serif";
    font-size: 19px;
    font-weight: 700;
    font-style: italic;
    line-height: 27px;
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative; }
    .block-item-text__title:before {
      content: '—';
      position: absolute;
      top: 0px;
      left: 0px;
      display: block; }
  .block-item-text__main {
    color: #000000;
    font-family: "Noto Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 25px; }

.gallery {
  margin: 0; }

.slider-block {
  margin: 0; }

.gallery-wrapper_1 {
  margin-right: 50px; }

.gallery-wrapper {
  width: 1200px;
  margin-left: -25%; }
  @media screen and (max-width: 1370px) {
    .gallery-wrapper {
      width: 900px; } }
  .gallery-wrapper .slider-block-prev {
    left: unset;
    right: 130px; }
  .gallery-wrapper .slider-block-next {
    left: unset;
    right: 30px; }
  .gallery-wrapper_2 {
    margin-left: 0;
    margin-right: -25%; }
    @media screen and (max-width: 1370px) {
      .gallery-wrapper_2 {
        margin-right: -30%; } }
    .gallery-wrapper_2 .slider-block-prev {
      left: 30px;
      right: unset; }
    .gallery-wrapper_2 .slider-block-next {
      left: 130px;
      right: unset; }

.block__head_lined {
  position: relative; }
  .block__head_lined:after {
    content: '';
    display: block;
    width: 154px;
    height: 86px;
    background: url(../img/gallery-1-line.png);
    position: absolute;
    top: 50%;
    right: -webkit-calc(100% + 32px);
    right: calc(100% + 32px);
    z-index: -1; }

.block__head_lined2 {
  position: relative; }
  .block__head_lined2:after {
    content: '';
    display: block;
    width: 493px;
    height: 165px;
    background: url(../img/gallery-2-line.png) no-repeat center center;
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: -1; }

.benefits-text_2 {
  margin-right: 150px;
  margin-left: auto; }

.block_w100 {
  width: 100%; }
  .block_w100 .block-item__img {
    height: 150px;
    margin-bottom: 50px; }

.block_pt {
  margin-top: 170px; }

.doverie-block-main__img_shift-right {
  -webkit-transform: translate(70px, 0);
      -ms-transform: translate(70px, 0);
          transform: translate(70px, 0); }

.doverie-block-main-left_wh {
  width: 685px;
  height: 448px;
  background: url(../img/doverie-bg-2.png) no-repeat center center; }
  .doverie-block-main-left_wh .doverie-block-main-left-inn {
    background: none; }

.doverie-block-main-left-inn__author, .doverie-block-main-left-inn__prof {
  position: relative;
  z-index: 10; }

.banner-block-left-but_absolute {
  position: absolute;
  z-index: 10;
  bottom: -100px;
  left: 0; }

.docs-block {
  margin-top: 330px; }
  .docs-block-head {
    padding-left: 234px;
    display: inline-block; }
    .docs-block-head:after {
      left: -webkit-calc(100% + 20px);
      left: calc(100% + 20px);
      top: 70%;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
  .docs-block-main {
    margin-top: 73px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.conditions {
  margin-top: 150px; }
  .conditions-main {
    margin-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .conditions-main-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 400px;
          -ms-flex: 0 1 400px;
              flex: 0 1 400px; }
      .conditions-main-item__img {
        height: 216px; }
      .conditions-main-item__text {
        color: #000000;
        font-family: "Noto Serif";
        font-size: 19px;
        font-style: italic;
        line-height: 27px; }

.choose-place {
  margin-top: 180px; }
  .choose-place-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .choose-place-main-calc {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 481px;
          -ms-flex: 0 1 481px;
              flex: 0 1 481px;
      padding: 50px;
      margin-left: 55px;
      background-color: #f9fbfc;
      border-bottom: 10px solid #dedde6;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      -webkit-box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.5);
              box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.5); }
      .choose-place-main-calc-row {
        margin-bottom: 30px; }
      .choose-place-main-calc-btn-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .choose-place-main-calc-btn-wrapper-button {
          -webkit-box-flex: 0;
          -webkit-flex: 0 1 45%;
              -ms-flex: 0 1 45%;
                  flex: 0 1 45%;
          position: relative; }
          .choose-place-main-calc-btn-wrapper-button_border:before {
            border: 1px solid #8f7477;
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 50px;
            z-index: 0;
            top: 1px;
            left: -1px;
            -webkit-border-radius: 30px;
                    border-radius: 30px; }

.economy-wrapper {
  padding: 180px 0 100px; }

.consult-wrapper {
  padding: 100px 0; }

.consult-block-left__text_lh {
  line-height: 32.75px;
  margin-bottom: 30px; }

.consult-block-left__text_cursive {
  color: #000000;
  font-family: "Noto Serif";
  font-style: italic; }

.consult-block_height {
  height: 480px; }

.consult-block-left-main-btn_width {
  width: 325px; }

.banner-block-left__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner-block-left__img img {
    -webkit-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
            transform: translateY(-15%);
    margin-left: 20px; }
