*:focus{
	outline: none;
}
*{
	box-sizing: border-box;
}
html,
body{
	display: block;
	height: 100%;
	width: 100%;
	color: #000;
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
	padding: 0;
}
.containerWide{
	max-width: 1740px;
	width: 95%;
	margin: 0 auto;
  position: relative;
}
.container{
	max-width: 1480px;
	width: 95%;
	height: 100%;
	margin: 0 auto;
  position: relative;
}
.wrapper{
	overflow: hidden;
}

@import 'common/adaptive';
@import 'common/normalize'; 
@import 'common/header'; 
@import 'common/breadcrumbs'; 
@import 'common/consult'; 
@import 'common/footer';
@import 'pages/index'; 
@import 'pages/contacts'; 
@import 'pages/news'; 
