.footer{
	border-top: 1px solid #e4e4e4; 
	margin-bottom: 70px;
	&-block{
		padding-top: 55px;
		display: flex;
		justify-content: space-between;
		&-info{
			max-width: 431px;
			font-family: 'Noto Sans', sans-serif;
			font-size: 13px;
			line-height: 21px;
			color: #737373;
			margin-top: -15px;
			&__text, &__text2{
				margin-top: 20px;
				& a{
					color: #8fa17a;
					border-bottom: 1px solid #8fa17a;
					cursor: pointer;
				}
			}
			&__pairText, &__pairText2{
				display: flex;
				align-items: center;
				margin-top: 25px;
				&__pair{
					margin-right: 30px;
				}
				img{
					margin-top: 3px;
					margin-left: 5px;
				}
			}
			@include w1024{
				&-logo__img{
					width: 157px;
				}
				&__text, &__text2{
					margin-top: 0;
				}
				&__text2{
					text-align: right;
				}
				&-wrap-width{
					width: 390px;
				}
				&__pairText{
					margin-top: 15px;
				}
				&__pairText2{
					justify-content: flex-end;
					margin-top: 7px;
				}
			}
			@include w768{
				&__pairText, &__pairText2{
					white-space: nowrap;
				}
				&__text, &__text2{
					line-height: 19px;
				}
				&-wrap-width{
					width: 250px;
				}
			}
			@include w480{
				&__pairText{
					margin-top: 5px;
				}
				&__text2{
					text-align: left;
				}
			}
		}
		&-menus{
			display: flex;
			&-list{
				display: flex;
				flex-direction: column;
				margin-right: 130px;
				&:last-child{
					margin-right: 0;
				}
				&__title{
					font-family: 'Noto Serif', sans-serif;
					color: #2b2b2b;
					font-size: 16px;
					margin-bottom: 20px;
				}
				&__item{
					font-family: 'Noto Sans', sans-serif;
					color: #888888;
					font-size: 14px;
					margin-bottom: 13px;
				}
				&-wrap{
					display: flex;
					flex-direction: column;
				}
				@include w1024{
					&__title{
						font-size: 14.4px;
					}
					&__item{
						font-size: 12.6px;
					}
				}
				@include w480{
					&__title.in{
						color: #824c3d;
						margin-bottom: 10px;
					}
					&__title{
						margin-bottom: 20px;
						margin-top: 10px;
						position: relative;
					}
					&__title:before{
						content: '';
						background: url('../images/minus.png') center center no-repeat;
						width: 16px;
						height: 16px;
						position: absolute;
						right: 30px;
						top: 0;
					}
					&__title.in:before{
						background: url('../images/plus.png') center center no-repeat;
					}
				}
			}
			@include w1366{
				&-list{
					margin-right: 100px;
				}
			}
			@include w1024{
				&-list{
					margin-right: 120px;
				}
			}
			@include w480{
				&-list{
					margin-right: 0;
					border-bottom: 1px solid #e5e5e5;
    			width: 110%;
    			margin-left: -22px;
					padding-left: 22px;
					white-space: nowrap;
				}
			}
		}
		&-contacts{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			&-tel{
				text-align: right;
				&-top__phone{
					font-family: 'Noto Serif', serif;
					font-size: 24px;
					margin-left: 10px;
				}
				&__bot{
					font-family: 'Noto Sans', sans-serif;
					font-size: 11px;
					color: #828586;
				}
				@include w1366{
					&-top__phone{
						font-size: 21px;
					}
					&__bot{
						font-size: 10px;
					}
				}
			}
			&-but{
				width: 215px;
				margin-top: 20px;
				position: relative;
				cursor: pointer;
				&__link{
					padding: 16px 0;
					display: block;
					text-align: center;
					font-family: 'Noto Sans', sans-serif;
					font-weight: bold;
					text-transform: uppercase;
					color: #fff;
					font-size: 12px;
					background: linear-gradient(#c18676, #8e5d50);
					border-radius: 37px;
					white-space: nowrap;
					height: 47px;
					border-bottom: 4px solid #7d4e41;
					position: relative;
				}
				&:before{
					border: 1px solid #ae948e;
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 47px;
					z-index: 1;
					top: 1px;
					left: -1px;
					border-radius: 30px;
				}
				&:active:before{
					width: 99%;
					height: 100%;
					top: -1px;
					left: 0;
				}
				@include w1024{
					&__link{
						font-size: 10px;
    				height: 40px;
    				padding: 14px 0;
					}
					&:before{
						height: 40px;
					}
				}
				&:hover &__link{
					border-bottom: 1px solid #7d4e41;
					background: linear-gradient(#c18676, #8e5d50);
				}
				&:active &__link{
					border-bottom: none;
					background: linear-gradient(#aa7162, #8e5a4d);
				}
			}
			&-mail{
				text-align: right;
				margin-top: 30px;
				&-top img{
					vertical-align: middle;
				}
				&-top__mail{
					font-family: 'Noto Serif', serif;
					font-size: 17px;
					margin-left: 10px;
				}
				&__bot{
					margin-top: 5px;
					font-family: 'Noto Sans', sans-serif;
					display: inline-block;
					color: #828586;
					font-size: 11px;
				}
				@include w1366{
					&-top__mail{
						font-size: 15px;
					}
					&__bot{
						font-size: 10px;
					}
				}
			}
			&-social{
				text-align: right;
				margin-top: 25px;
				font-size: 11px;
				font-family: 'Noto Sans', sans-serif;
				&-top img{
					margin-left: 15px;
				}
				&__bot{
					margin-top: 15px;
					max-width: 180px;
					display: inline-block;
					color: #828586;
				}
				@include w1366{
					&__bot{
						font-size: 10px;
					}
				}
				@include w768{
					&__bot{
						display: none;
					}
				}
			}
			@include w1366{
				&-but{
					width: 195px;
				}
			}
			@include w1024{
				&-but{
					width: 180px;
				}
				&-mail, &-social{
					margin-top: 20px;
				}
			}
			@include w768{
				&-but{
					order: -1;
				}
				&-but, &-mail, &-social{
					margin-top: 0;
				}
			}
			@include w480{
				&-tel{
					width: 183px;
					text-align: left;
				}
				&-mail{
					order: 1;
					margin-top: 30px;
				}
			}
		}
		@include w1366{
			&-info{
				width: 319px;
				font-size: 11.7px;
			}
		}
		@include w1024{
			&-info{
				order: 1;
				flex: 1;
				display: flex;
				justify-content: space-between;
    		width: auto;
    		max-width: none;
    		margin-top: 40px;
			}
		}
		@include w768{
			&-menus{
				justify-content: space-between;
			}
			&-contacts{
				flex-direction: row-reverse;
				justify-content: space-between;
				margin-top: 25px;
			}
		}
		@include w480{
			&-info{
				flex-wrap: wrap;
				&-wrap{
					display: flex;
					flex: 1;
					justify-content: space-between;
					margin-top: 20px;
				}
				&-wrap-width{
					width: 265px;
				}
				&__pairText__pair, &__pairText2__pair{
					margin-right: 10px;
				}
			}
			&-menus{
				flex-direction: column;
				margin-left: 10px;
			}
			&-contacts{
				flex-wrap: wrap;
			}
		}
		@include w320{
			&-info{
				margin-top: 20px;
				&-wrap{
					flex-direction: column;
					margin-top: 15px;
				}
				&-wrap-width{
					margin-top: 10px;
				}
				&__pairText2{
					justify-content: flex-start;
					margin-top: 15px;
				}
			}
			&-contacts{
				flex-direction: column;
				align-items: flex-start;
				padding-left: 10px;
				&-but, &-mail, &-social{
					margin-top: 15px;
				}
				&-but{
					order: 0;
				}
				&-mail{
					order: 0;
				}
			}
		}
	}
	@include w1024{
		&-block{
			flex-wrap: wrap;
			padding-top: 30px;
		}
	}
	@include w768{
		&-block{
			flex-wrap: wrap;
			padding-top: 30px;
			flex-direction: column;
		}
	}
	@include w480{
		&-block{
			padding-top: 10px;
		}
	}
}
@include w1024{
	.footer{
		margin-bottom: 35px;
	}
}